/* BookingPage.css */

.booking-page-container {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  padding: 40px 20px 20px 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 30px;
}

.booking-page-title {
  text-align: center;
  margin-bottom: 20px;
  color: #595959;
}

.room-booking-table .ant-table {
  background: #fff;
  border-radius: 8px;
}

.booking-primary-btn {
  background-color: #BBD38B !important;
  border-color: #BBD38B !important;
  color: white !important;
  font-weight: 500;
}

.booking-modal-amenities {
  margin-top: 16px;
}

.booking-modal-amenities ul {
  padding-left: 20px;
  margin: 0;
}

.booking-modal-amenities li {
  margin-bottom: 4px;
}

.booking-modal-amenities .no-amenity {
  color: #888;
} 
