.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
  }
  
  .search-and-filters {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
  }
  
  .search-bar i {
    color: var(--text-secondary);
  }
  
  .search-bar input {
    border: none;
    background: transparent;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .filter-btn, .add-btn {
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .add-btn {
    background-color: var(--green-status);
    border-color: var(--green-text);
    color: var(--green-text);
    font-weight: 700;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

/* Responsive Design */
@media (min-width: 1025px) {
  .top-panel {
    margin-left: 18%;
    width: 82%;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .top-panel {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 768px) {
  .top-panel {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .top-panel {
    padding: 4px 2px;
  }
  .user-profile img {
    width: 24px;
    height: 24px;
  }
}